n8n-workflows/gmail-read.json
{
  "name": "Gmail - Read Emails",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gmail-read",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "getAll",
        "filters": {
          "q": "={{ $json.body.filter || 'is:unread' }}"
        },
        "options": {
          "format": "resolved"
        },
        "limit": "={{ $json.body.limit || 10 }}"
      },
      "name": "Gmail Read",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [480, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "1",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Gmail Read", "type": "main", "index": 0}]]
    },
    "Gmail Read": {
      "main": [[{"node": "Respond", "type": "main", "index": 0}]]
    }
  },
  "active": true
}
